button {
  cursor: pointer;
  color: black;
  font-family: "Oswald", sans-serif;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: rgb(51, 125, 130);
  color: white;
  border-radius: 1rem;
  transition: background-color 1s;
}
.btn .addItemBtn {
  background-color: black;
  font-size: 1.2rem;
  font-weight: 100;
  padding: 0 0;
}

.btn:hover {
  background-color: rgb(0, 91, 91);
}

.listDeleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border: none;
  height: 26px;
  width: 26px;
  margin-left: 1rem;
  border-radius: 4px;
  align-self: center;
}

.listDeleteBtn:hover {
  background-color: rgb(214, 214, 214);
}

#newListBtn {
  padding: 1 rem 2rem;
  font-size: 1.2rem;
  font-weight: 200;
  align-self: center;
}

.hiddenBtn {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  transition: all 0.3s ease-out;
}

.turn {
  transform: rotate(-180deg);
}

.hide {
  max-height: 0;
  overflow: hidden;
}

.accordionWrapper {
  background: rgb(115, 156, 159);
  margin: 1.5rem 0rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 700px;
  border-radius: 1rem 1rem 1rem 1rem;
}
@media (width >= 380px) {
  .accordionWrapper {
    margin: 1.5rem 0.5rem;
  }
}

.accordionHead {
  display: flex;
  justify-content: space-between;
  background: rgb(115, 156, 159);
  color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  min-height: 120px;
  transition: background-color 0.5s;
}

.accordionBody {
  background-color: rgb(255, 255, 255);
  color: rgb(105, 105, 105);
  font-weight: 100;
  max-height: 0;
  overflow: hidden;
  border-radius: 0 0 1rem 1rem;
  transition: max-height 0.3s ease-out;
}

.addItemWrapper {
  display: flex;
  padding: 1rem 1rem 0 1rem;
  align-items: center;
}
.addItemWrapper input {
  flex-grow: 1;
}

.solidListWrapper {
  padding: 0 1rem 1rem 1rem;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.liHtmlElement {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem;
}

.item {
  flex-grow: 1;
}

.small {
  width: 70%;
  margin-top: 2rem;
}

h1, h2, h3, h4, h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

h2 {
  margin-top: 0.5rem;
}

.fa-xmark, .fa-chevron-down, .fa-trash-can {
  pointer-events: none;
}

.fa-solid, .fa-solid {
  color: rgb(255, 255, 255);
}

.inListTitle {
  font-weight: 100;
  border-bottom: 1px dashed rgb(202, 216, 216);
}

.liHtmlElement {
  font-size: 1rem;
  font-weight: 100;
}

.error {
  color: rgb(24, 136, 82);
  font-style: italic;
  font-size: small;
}

.form {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.checkbox {
  height: 24px;
  width: 24px;
  accent-color: rgb(54, 134, 84);
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid teal;
  border-radius: 1rem;
  margin: 0.5rem 0;
  margin-right: 0.5rem;
}

.listInput {
  padding: 0.6rem 1rem;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#newList {
  width: 100%;
  padding: 1rem;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */