@import "variables";

.hide {
    max-height: 0;
    overflow: hidden;
}

.accordionWrapper{
    background: $accordionHead;

    margin: 1.5rem 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    max-width: 700px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.accordionHead {
    // background: linear-gradient(white, rgb(202, 216, 216));
    display: flex;
    justify-content: space-between;
    background: $accordionHead;
    color:$accordionHeading;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 1rem;
    min-height: 120px;
    transition: background-color 0.5s;
}

.accordionBody {
    background-color: $accordionBody;
    color: rgb(105, 105, 105);
    font-weight: 100;
    max-height: 0;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
    transition: max-height 0.3s ease-out;
}

.addItemWrapper{
    padding: 1rem 1rem 0 1rem;

}
.solidListWrapper{
    padding: 0 1rem 1rem 1rem;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


ul {
    list-style: none;
}

.liHtmlElement {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem;
}

.item {
    flex-grow: 1;
}
