@import "variables";


button {
    cursor: pointer;
}


.btn {
    padding:0.5rem 1.5rem;
    border: none;
    background-color: $accentColor;
    color: white;
    border-radius: 0.5rem;
    transition: background-color 1s;
}
.btn:hover {
    background-color: $accentDarker;

}

.listDeleteBtn{
    background-color: $gray-100;
    border: none;
    padding: 0.4rem 0.4rem;
    margin-left: 1rem;
    border-radius: 4px;
    align-self: center;
}
.listDeleteBtn:hover {
    background-color: $gray-200;
    
}

#newListBtn {
    padding: 1 rem 2rem;
    font-size: 1.2rem;
    font-weight: 200;
    align-self: center;

}
.addItemBtn {
    font-size: 1.1rem;

}
.hiddenBtn {
    padding: 0.5rem;
    background-color: $invisible;
    // background-color: gray;
    border: none;
    transition: all .3s ease-out;
}
.turn {
    transform: rotate(-180deg);
}