$background: rgb(233, 233, 233);
$accordionHead: rgb(255, 255, 255);
$accordionBody: rgb(255, 255, 255);

$gray-100: rgb(235, 235, 235);
$gray-200: rgb(214, 214, 214);

$accentLighter: rgb(202, 216, 216);
$accentColor: teal;
$accentDarker: rgb(0, 91, 91);

$invisible: rgb(0, 0, 0, 0);